@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.App {
  width: 100vw;
  height: 100vh;

  font-family: "Nunito", sans-serif;
  /* background-image: linear-gradient(90deg, #410076, #8820dd); */
  background-color: rgb(28, 41, 57);

}

body {
  padding: 0;
  margin: 0;
}